<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel ="stylesheet" href ="/css/home/login.css">
    <script src = "/js/home/id_found.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="name" type="text" placeholder="이름"/>
            <input id ="mail" type="mail" placeholder="이메일"/>
            <p id ="button">found</p>
            <p class="message">Already registered? <a href="login">login</a></p>
          </form>
        </div>
      </div>
</body>
</html>